.messages-container {
  height: 63vh;
  margin: 0px;
}
.text-center {
  text-align: center;
  color: white;
  background: #4d0000;
  padding: 10px;
  border-radius: 10px;
}
.grid-container {
  padding: 0px;
  margin: 0px;
}
.sender {
  font-size: 10px;
  padding-left: 10px;
  color: white;
}
.content {
  background-color: #ffb3b3;
  padding: 10px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 50px;
  padding-left: 20px;
  -webkit-box-shadow: -4px 4px 32px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 4px 32px 3px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 4px 32px 3px rgba(0, 0, 0, 0.75);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: #4d0000;
  padding: 10px;
  border-radius: 10px;
}
.bg-container {
  background-color: #990000;
}
.name-input {
  width: 160px;
}
.msg-input {
  width: 100%;
}
